<?xml version="1.0" encoding="UTF-8"?>
<beans>
    <bean id="user" class="com.bejond.model.User" scope="prototype">
        <property name="username" value="Hello World! (This initial data is set in Beans.xml file.)" />
        <property name="password" value="test" />
    </bean>
    <bean id="userDAOImpl" class="com.bejond.DAO.impl.UserDAOImpl" />
    <bean id="userService" class="com.bejond.service.UserService">
        <property name="userDAO" bean="userDAOImpl" />
    </bean>

</beans>