<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userAction" class="com.bejond.action.UserAction" />
    <bean id="user" class="com.bejond.model.User" />
    <bean id="userDAOImpl" class="com.bejond.DAO.impl.UserDAOImpl">

    </bean>
    <bean id="userManagerImpl" class="com.bejond.service.impl.UserManagerImpl">
        <property name="userDAO" ref="userDAOImpl" />
    </bean>
</beans>